.section3 {
  position: relative;
  /* display: flex; */
}

.section3 .left-bg {
  width: 67vw;
  height: 1024px;
  position: absolute;
  background-color: #f7f8fa;
  left: 0;
  top: 0;
  z-index: -1;
}
.section3 .row-first {
  height: 470px;
  top: -40px;
  display: flex;
  padding: 100px 70px;
}
.section3 .row-first .text-box {
}
.section3 .row-first .text-box h2 {
  font-weight: 700;
  font-size: 35px;
}
.section3 .row-first .text-box .bar-orange {
  margin-top: 20px;
  margin-bottom: 40px;
}
.section3 .row-first .text-box span {
  font-size: 18px;
}
.section3 .row-first .text-box .btn.btn--white {
  width: 205px;
  height: 52px;
  margin: 60px 0;
  font-size: 16px;
}

.section3 .row-first .container {
  margin-left: 30px;
  width: 1225px;
  display: flex;
  justify-content: space-between;
}
.section3 .row-first .container .item {
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 20px;
  width: 287px;
  height: 307px;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
}
.section3 .row-first .container .item .logo {
  margin-bottom: 70px;
  height: 70px;
  object-fit: scale-down;
}
.section3 .row-first .container .item .star {
  width: 111px;
}
.section3 .row-first .container .item .counts {
  margin-top: 20px;
  font-size: 14px;
}
.section3 .row-first .container .item .more {
  margin-top: 40px;
  font-size: 15px;
  /* color: #0e71eb; */
}
.section3 .row-first .container .item .more:hover {
  text-decoration: underline;
}
/* ROW SECOND  */
.section3 .row-second {
}
.section3 .row-second .swiper {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  background-color: white;
  border-radius: 20px;
  width: 1100px;
  height: 470px;
}
.section3 .row-second .swiper .swiper-wrapper {
}
.section3 .row-second .swiper .swiper-wrapper .swiper-slide {
  display: flex;
}
.section3 .row-second .swiper .swiper-wrapper .swiper-slide .half-left {
  width: 50%;
  height: 100%;
}
.section3 .row-second .swiper .swiper-wrapper .swiper-slide .half-right {
  width: 50%;
  height: 100%;
  background-color: gray;
}

.section3 .pagination {
  margin-top: 90px;
  height: 102px;
  width: 100%;
  background-color: aqua;
}
