.section4 {
  margin-top: 300px;
  display: flex;
  height: 275px;
}
.section4 .column-left {
  height: 275px;
  width: 28vw;
  background-color: #323244;
  display: flex;
  flex-direction: column;
  padding: 0 70px;
}
.section4 .column-left h2 {
  margin-top: 56px;
  color: white;
  font-weight: 700;
  font-size: 35px;
}
.section4 .column-left .s4-pagination {
  display: flex;
  width: fit-content;
  gap: 5px;
  position: relative;
  right: 200px;
  top: 60px;
  align-self: end;
}
.section4 .column-left .swiper-pagination-bullet {
  background-color: #464657;
  opacity: 1;
  width: 10px;
  height: 10px;
}
.section4 .column-left .swiper-pagination-bullet-active {
  background-color: white;
}
.section4 .column-right {
  height: 275px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}
.section4 .column-right .swiper {
  height: 275px;
  width: 57vw;
  margin-left: 20px;
}
.section4 .column-right .swiper .swiper-wrapper {
}
.section4 .column-right .swiper .swiper-wrapper .swiper-slide {
  width: 1090px;

  display: flex;
  justify-content: space-between;
}
.section4 .column-right .swiper .swiper-wrapper .swiper-slide .container {
  width: 350px;
  height: 273px;
  border: 1px solid #babacc;
  display: flex;
  justify-content: center;
  align-items: center;
}
