.section3 {
  position: relative;
  /* display: flex; */
}

.section3 .left-bg {
  width: 67vw;
  height: 1024px;
  position: absolute;
  background-color: #f7f8fa;
  left: 0;
  top: 0;
  z-index: -1;
}
.section3 .row-first {
  height: 470px;
  top: -40px;
  display: flex;
  padding: 100px 70px;
}
.section3 .row-first .text-box {
}
.section3 .row-first .text-box h2 {
  font-weight: 700;
  font-size: 35px;
}
.section3 .row-first .text-box .bar-orange {
  margin-top: 20px;
  margin-bottom: 40px;
}
.section3 .row-first .text-box span {
  font-size: 18px;
}
.section3 .row-first .text-box .btn.btn--white {
  width: 205px;
  height: 52px;
  margin: 60px 0;
  font-size: 16px;
}

.section3 .row-first .container {
  margin-left: 30px;
  width: 1225px;
  display: flex;
  justify-content: space-between;
}
.section3 .row-first .container .item {
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 20px;
  width: 287px;
  height: 307px;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
}
.section3 .row-first .container .item .logo {
  margin-bottom: 70px;
  height: 70px;
  object-fit: scale-down;
}
.section3 .row-first .container .item .star {
  width: 111px;
}
.section3 .row-first .container .item .counts {
  margin-top: 20px;
  font-size: 14px;
}
.section3 .row-first .container .item .more {
  margin-top: 40px;
  font-size: 15px;
  /* color: #0e71eb; */
}
.section3 .row-first .container .item .more:hover {
  text-decoration: underline;
}
/* ROW SECOND  */
.section3 .row-second {
}
.section3 .row-second .swiper {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  background-color: white;
  border-radius: 20px;
  width: 1100px;
  height: 470px;
}
.section3 .row-second .swiper .swiper-wrapper {
}
.section3 .row-second .swiper .swiper-wrapper .swiper-slide {
  display: flex;
}
.section3 .row-second .swiper .swiper-wrapper .swiper-slide .half-left {
  width: 50%;
  height: 100%;
  padding: 40px;
  position: relative;
}
.section3
  .row-second
  .swiper
  .swiper-wrapper
  .swiper-slide
  .half-left
  .circle-pic {
}
.section3
  .row-second
  .swiper
  .swiper-wrapper
  .swiper-slide
  .half-left
  .comment {
  margin-top: 30px;
  font-size: 20px;
}
.section3 .row-second .swiper .swiper-wrapper .swiper-slide .half-left .from {
  font-weight: 700;
  font-size: 12px;
  margin-top: 30px;
  display: block;
}
.section3
  .row-second
  .swiper
  .swiper-wrapper
  .swiper-slide
  .half-left
  .link-youtube {
  display: flex;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 480px;
  top: 370px;
}
.section3
  .row-second
  .swiper
  .swiper-wrapper
  .swiper-slide
  .half-left
  .link-youtube
  .circle-play {
}
.section3 .row-second .swiper .swiper-wrapper .swiper-slide .half-right {
  width: 50%;
  height: 100%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3
  .row-second
  .swiper
  .swiper-wrapper
  .swiper-slide.century-fox
  .half-right {
  background-image: url(../../images/section3-logo1-back.jpg);
}
.section3
  .row-second
  .swiper
  .swiper-wrapper
  .swiper-slide.abinbev
  .half-right {
  background-image: url(../../images/section3-logo2-back.jpg);
}
.section3
  .row-second
  .swiper
  .swiper-wrapper
  .swiper-slide.capitalone
  .half-right {
  background-image: url(../../images/section3-logo3-back.jpg);
}
.section3
  .row-second
  .swiper
  .swiper-wrapper
  .swiper-slide.zendesk
  .half-right {
  background-image: url(../../images/section3-logo4-back.jpg);
}
.section3 .row-second .swiper .swiper-wrapper .swiper-slide.veeva .half-right {
  background-image: url(../../images/section3-logo5-back.jpg);
}

.section3 .swiper-pagination {
  margin-top: 90px;
  height: 102px;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 100px 100px; */
  gap: 50px;
}

.section3 .swiper-pagination .swiper-pagination-bullet:nth-child(1) {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 68px;
  height: 58px;
  background-image: url(../../images/section3-logo1-colored.png);
  background-size: cover;
}
.section3 .swiper-pagination .swiper-pagination-bullet:nth-child(2) {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 114px;
  height: 24px;
  background-image: url(../../images/section3-logo2-colored.png);
  background-size: cover;
}
.section3 .swiper-pagination .swiper-pagination-bullet:nth-child(3) {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 75px;
  height: 27px;
  background-image: url(../../images/section3-logo3-colored.png);
  background-size: cover;
}
.section3 .swiper-pagination .swiper-pagination-bullet:nth-child(4) {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 74px;
  height: 52px;
  background-image: url(../../images/section3-logo4-colored.jpg);
  background-size: cover;
}
.section3 .swiper-pagination .swiper-pagination-bullet:nth-child(5) {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100px;
  height: 24px;
  background-image: url(../../images/section3-logo5-colored.png);
  background-size: cover;
}
