.section3 {
  margin-top: 50px;
}
.section3 .inner {
  flex-direction: column;
}
.section3 .inner .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.section3 .inner .title h2 {
  font-weight: 700;
  font-size: 22px;
}
.section3 .inner .title .btn {
  height: 25px;
  width: 100px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 10px;
  font-size: 14px;
}
.section3 .inner .title .btn:hover {
  cursor: pointer;
}
.section3 .inner .title .btn span {
  /* border: 1px solid red; */
}
